html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
    width: 100%;
    font-family: 'Manrope';
}

a{
    letter-spacing: -0.03em;
    text-decoration: none;
}

h1{
    font-size: 60px;
    letter-spacing: -0.03em;
}

h2{
    font-size: 45px;
    letter-spacing: -0.03em;
}

h3{
    font-size: 30px;
    letter-spacing: -0.03em;
}

p{
    letter-spacing: -0.03em;
    font-size: 20px;
}

.tag{
    font-size: 18px;
    color: #121212;
    width: 51px;
    height: 25px;
    letter-spacing: -0.03em;
}

#main{
    margin: 0 auto;
    width: 1400px;
}

.div1{
    position: relative;
    margin: 25px auto;
    width: 1150px;
    height: 650px;
}

.h1div1{
    width: 956px;
    height: 120px;    
}

.bgdiv1{
    margin-top: 30px;
    width: 1150px;
    height: 500px;
    background-image: url('../rsc/Rectangle1.png');
    background-repeat: no-repeat;
}

.pbgdiv1{
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    color: azure;
}

.div2{
    margin: 150px auto;
    width: 1150px;
    height: 518px;
}

.h2div2{
    margin-top: 30px;
    width: 1048px;
    height: 290px;
}

.btndiv2{
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: azure;
    background-color: #AD1818;
    cursor: pointer;
}

.div3{
    margin: 0% auto;
    width: 1150px;
    height: 2122px;
}

.rediv3{
    width: 100%;
    height: 548px;
    margin-bottom: 90px;
}

.imgrediv3{
    width: 100%;
    height: 450px;
}

.h3rediv3{
    margin-top: 15px;
    width: 501px;
    height: 41px;
}

.arediv3{
    margin-top: 15px;
    font-size: 20px;
    width: 127px;
    height: 27px;
    color: #AD1818;
}

.adiv3{
    display: block;
    box-sizing: border-box;
    border: 1px solid #AD1818;
    font-size: 30px;
    color: #AD1818;
    width: 100%;
    height: 153px;
    text-align: center;
    line-height: 153px;
    background-color: white;
    
}

.adiv3:hover{
    background-color: #AD1818;
    color: #FFFFFF;
}

.div4{
    margin: 0% auto;
    margin-top: 150px;
    background-color: #121212;
    width: 100%;
    min-width: 1400px;
    height: 1844px;
}

.rediv4{
    padding-top: 151px;
    margin: 0% auto;
    width: 1150px;
    height: 315px;
}

.h3rediv4{
    padding-top: 15px;
    width: 540px;
    height: 30px;
    color: #FFFFFF;
}

.div5{
    position: relative;
    margin: 0% auto;
    width: 100%;
    min-width: 1400px;
    height: 717px;
    background-image: url(../rsc/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.h3div5{
    position: absolute;
    color: #FFFFFF;
    width: 443px;
    height: 60px;
    text-align: left;
    left: 125px;
    bottom: 82px;
}

.section{
    position: relative;
    margin: 33px auto;
    width: 1151.35px;
}

.logo_link{
    width: 126.89;
    height: 21.42px;
}

.nav_link{
    position: absolute;
    width: auto;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #121212;
}

.nav_link_active, .nav_link:hover{
    position: absolute;
    width: auto;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-decoration: underline;
    color: rgba(18, 18, 18, 0.5);
}

.div7{
    width: 100%;
    min-width: 1400px;
}

.cont{
    position: relative;
    margin-top: 186px;
    margin-left: 124px;;
    margin-bottom: 151px;
    width: 473px;
    height: 216px;
}

#Contacts::after{
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -37px;
    left: -8px;
    background-image: url(../rsc/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tel{
    margin-top: 32px;
    width: 472px;
    height: 60px;
}

.contact{
    color: #121212;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3%;
}

.contact:hover{
    color: rgba(18, 18, 18, 0.5);
    text-decoration: underline;
}

.mail{
    margin-top: 30px;
    width: 412px;
    height: 60px;
}

.div8{
    position: relative;
    width: 100%;
    min-width: 1400px;
    height: 229px;
    background-color: #121212;
}

.fdiv8{
    padding-top: 60px;
    margin: 0 auto;
    width: 470px;
    height: 25px;
}

.fnav, .fnav_active{
    display: inline-block;
    padding-right: 53px;
    text-decoration: none;
    letter-spacing: -0.03em;
    font-size: 18px;
    color: #FFFFFF;
}

.fnav_active, .fnav:hover{
    color: rgba(255, 255, 255, 0.5);
}

.fp{
    position: absolute;
    margin: 0 auto;
    bottom: 37px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    letter-spacing: -0.03em;
}