html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
    width: 100%;
    font-family: 'Manrope';
}

a{
    letter-spacing: -0.03em;
    text-decoration: none;
}

h1{
    font-size: 60px;
    letter-spacing: -0.03em;
    text-align: left;
}

h2{
    font-size: 45px;
    letter-spacing: -0.03em;
    text-align: left;
}

h3{
    font-size: 30px;
    letter-spacing: -0.03em;
    text-align: left;
}

p{
    letter-spacing: -0.03em;
    font-size: 20px;
    text-align: left;
}

#tag{
    font-size: 18px;
    color: #121212;
    width: 51px;
    height: 25px;
    letter-spacing: -0.03em;
}

.section{
    position: relative;
    margin: 33px auto;
    width: 1151.35px;
}

.logo_link{
    width: 126.89;
    height: 21.42px;
}

.nav_link{
    position: absolute;
    width: auto;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #121212;
}

.nav_link_active, .nav_link:hover{
    position: absolute;
    width: auto;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-decoration: underline;
    color: rgba(18, 18, 18, 0.5);
}
